.lead {
  margin-top: 56px;
  padding: 0 148px;
}

@media screen and (max-width: 1024px) {
  .lead {
    margin-top: 48px;
    padding: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    padding: 0 2px;
  }
}
