.cover__subtitle {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  z-index: 3;
  max-width: 360px;
  /* position: relative; */
  margin: 32px 0 0 0;
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
    margin: 16px 0 0 0;
    max-width: 230px;
  }
}
