.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 92px 48px 0 48px;
  position: relative;
  min-height: 740px;
  box-sizing: border-box;
  background-image: url(../../images/cover-trains.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  text-decoration: none;
  color: white;
}

.cover::after {
  content: " ";
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  background: #2A2C2F;
  opacity: 0.3;
}

@media screen and (max-width: 1024px) {
  .cover {
    margin: 92px 0 0 0;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 90px 0 0 0;
    min-height: 480px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    margin: 75px 0 0 0;
    min-height: 255px;

  }
}

@media screen and (max-width: 320px) {
  .cover {
    margin: 66px 0 0 0;
    min-height: 200px;
  }
}
