.cover {
  margin: 92px 48px 0 48px;
  position: relative;
  min-height: 740px;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.cover::after {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.3;
  position: absolute;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.cover:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover {
    margin: 92px 0 0 0;
  }
}
