@import "/vendor/normalize.css";
/* @import "/fonts/fonts.css"; */
@import "../blocks/page/page.css";
@import "../blocks/flex/flex.css";
@import "../blocks/grid/grid.css";

@import "../blocks/header/header.css";
@import "../blocks/header/__link-container/header__link-container.css";

@import "../blocks/lead/lead.css";
@import "../blocks/intro/intro.css";
@import "../blocks/photo-grid/photo-grid.css";
@import "../blocks/photo-grid/__list/photo-grid__list.css";
@import "../blocks/photo-grid/__item/photo-grid__item.css";

@import "../blocks/places/places.css";
@import "../blocks/place/place.css";
@import "../blocks/place/__text-container/place__text-container.css";

@import "../blocks/website/website.css";
@import "../blocks/cover/cover.css";
@import "../blocks/cover/__link/cover__link.css";

@import "../blocks/footer/footer.css";
@import "../blocks/logo/logo.css";
@import "../blocks/navigation/navigation.css";
@import "../blocks/navigation/_place/navigation_place-footer.css";

@import "../blocks/header/__lang-link/header__lang-link.css";
@import "../blocks/header/__lang-link/_underlined/header__lang-link_underlined.css";

@import "../blocks/lead/__title/lead__title.css";
@import "../blocks/lead/__subtitle/lead__subtitle.css";
@import "../blocks/lead/__image/lead__image.css";
@import "../blocks/lead/__caption/lead__caption.css";
@import "../blocks/intro/__title/intro__title.css";
@import "../blocks/intro/__text/intro__text.css";
@import "../blocks/intro/__list/intro__list.css";
@import "../blocks/intro/__list-item/intro__list-item.css";
@import "../blocks/photo-grid/__list-item/photo-grid__list-item.css";
@import "../blocks/place/__title/place__title.css";
@import "../blocks/place/__image/place__image.css";
@import "../blocks/place/__paragraph/place__paragraph.css";
@import "../blocks/website/__url-heading/website__url-heading.css";
@import "../blocks/website/__link/website__link.css";
@import "../blocks/cover/__title/cover__title.css";
@import "../blocks/cover/__subtitle/cover__subtitle.css";
@import "../blocks/footer/__copyright/footer__copyright.css";
@import "../blocks/navigation/__list/navigation__list.css";
@import "../blocks/navigation/__list-item/navigation__list-item.css";
@import "../blocks/navigation/__link/navigation__link.css";

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/Inter-Black.woff2) format("woff2"),
    url(../fonts/Inter-Black.woff) format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Inter-Bold.woff2) format("woff2"),
    url(../fonts/Inter-Bold.woff) format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Inter-Regular.woff2) format("woff2"),
    url(../fonts/Inter-Regular.woff) format("woff");
}
