.lead__caption {
  margin-top: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin: 16px auto auto 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    font-size: 16px;
    line-height: 1.25;
    margin: 16px auto auto 18px;
  }
}
