.cover__title {
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  max-width: 560px;
  text-align: center;
  z-index: 3;
  /*  position: relative; */
}

@media screen and (max-width: 425px) {
  .cover__title {
    max-width: 270px;
    font-size: 40px;
    line-height: 1.09;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    max-width: 250px;
    font-size: 32px;
  }
}
