.place {
  margin-top: 80px;
  /* grid-template-columns: 49% 50%; */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 40px;
  grid-template-areas:
    "title web"
    "image text";
}

@media screen and (max-width: 1024px) {
  .place {
    gap: 32px;

  }
}

@media screen and (max-width: 768px) {
  .place {
    gap: 28px;
  }
}

@media screen and (max-width: 530px) {
  .place {
    margin-top: 50px;
    grid-template-columns: 100%;
    grid-template-rows: repeat(1, auto);
    grid-template-areas:
      "title"
      "web"
      "image"
      "text";
  }
}
