.place {
  /* grid-template-columns: repeat(2, auto); */
  margin-top: 80px;
  grid-template-columns: 460px 484px;
  grid-template-rows: repeat(2, auto);
  gap: 40px;
  grid-template-areas:
    "title web"
    "image text";
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 456px;
  }
}
@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 340px 352px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    margin-top: 50px;
    grid-template-columns: 288px;
    grid-template-rows: repeat(1, auto);
    grid-template-areas:
      "title"
      "web"
      "image"
      "text";
  }
}
