.place {
  /* grid-template-columns: repeat(2, auto); */
  margin-top: 80px;
  grid-template-columns: 460px 484px;
  grid-template-rows: repeat(2, auto);
  gap: 40px;
  grid-template-areas:
    "title web"
    "image text";
}
